$primary-color: #008b99;
$primary-color-light: #52bbca;
$primary-color-dark: #005d6b;
$primary-text-color: rgba(white, 0.87);
$secondary-color: #030b24;
$secondary-color-light: #2b334c;
$secondary-color-dark: #000000;
$secondary-text-color: rgba(white, 0.87);
