.root {
  margin: 1% 10%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 10;
  align-items: center;
}

mat-grid-list {
  flex: 90;
}

:host ::ng-deep .mat-grid-tile-content {
  justify-content: flex-start;
}

mat-form-field {
  width: 90%;
}
.header h3 {
  margin-right: 1%;
}
.base-traffic {
  background-size: 5px 5px;
  width: 2vw;
  height: 2vw;
  margin-bottom: 16px;
  border-radius: 50%;
  opacity: .2;
  margin-left: 1%;
}
.active-light{
  opacity: 1;
}
.red {
  background: red radial-gradient(brown, transparent);
  box-shadow: 0 0 10px #111 inset,
  0 0 10px red;
}
.yellow {
  background: yellow radial-gradient(orange, transparent);
  box-shadow: 0 0 10px #111 inset,
  0 0 10px yellow;
}

.green {
  background: green radial-gradient(lime, transparent);
  box-shadow: 0 0 10px #111 inset,
  0 0 10px green;
}
