<div class="root" [matTooltip]="statisticType.description">
  <mat-icon>{{statisticType.icon}}</mat-icon>
  <div class="text-container">
    <div style="display: flex; align-items: center">
      <h3>{{statisticType.title}}</h3>
      <a *ngIf="statisticType.helpGuideUrl" mat-button [href]="statisticType.helpGuideUrl" target="_blank">
        <mat-icon color="accent">help</mat-icon>
        Help
      </a>
    </div>
    <h2 [class]="statisticType.value > 0 ? 'warning-value' : 'valid-value'"
        (click)="clicked()">{{statisticType.value}}</h2>
    <h5 *ngIf="statisticType.caption">{{statisticType.caption}}</h5>
  </div>
</div>
